<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
    <link rel="stylesheet" href="../css/login.css" type="text/css" />
</head>
<body>
        <div class="form" style="margin: 0 auto;">
            <lable>用户名：</lable>  <input type="text" id="username"><br>
            <lable>密&nbsp;&nbsp;&nbsp;码：</lable>  <input type="password" id="password"><br>
            <input type="reset" id="reset" value="重置" style="margin-left: 50px; ">
            <input type="submit" id="submit" value="登录" onclick="submit()" style="margin-left: 30px;margin-top: 10px; ">
        </div>
</body>
</html>